[submodule "TestSNAP"]
	path = TestSNAP
	url = https://github.com/rgayatri23/TestSNAP
	branch = Kokkos-nvhpc
[submodule "BabelStream"]
	path = BabelStream
	url = https://github.com/UoB-HPC/BabelStream
[submodule "kokkos"]
	path = kokkos
	url = https://github.com/kokkos/kokkos
	branch = develop
[submodule "berkeleygw-kernels-fortran"]
	path = berkeleygw-kernels-fortran
	url = https://gitlab.com/NERSC/nersc-proxies/berkeleygw-kernels-fortran
	branch = master
[submodule "TestSNAP_native"]
	path = TestSNAP_native
	url = https://github.com/FitSNAP/TestSNAP
	branch = OpenMP4.5
