[submodule "TestSNAP"]
	path = TestSNAP
	url = https://github.com/rgayatri23/TestSNAP
	branch = Kokkos-nvhpc
[submodule "BabelStream"]
	path = BabelStream
	url = https://github.com/UoB-HPC/BabelStream
